.hero {
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.content {
    font-size: 1.1em;
    font-weight: 500;
}

.some-img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px
}
.some-img img {
    max-height: 70vh;
    border-radius: 8px;
}
@media screen and (max-width: 600px) {
    .some-img img {
        width: 100%;
    }
    .magical-hehe{
        font-size: 3em;
    }
    .content{
        font-weight: 400;
    }
}