.hero-img img {
    width: 100%;
}
.hero-img {
    position: relative;
}

.hero-img h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    font-size: 2.2em;
}

.hiw-content p {
    font-size: 1.1em;
    font-weight: 500;
}
@media screen and (max-width: 600px) {
    .hero-img h2 {
        position: unset;
        font-size: 1.3em;
        margin: 10px 0;
    }
    .hiw-content p {
        font-weight: 400;
    }
}