*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --max-width: 90vw;
}

body{
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}
.container {
    max-width: var(--max-width);
    margin-left: auto;
    margin-right: auto;
    /* height: 200vh; */
    position: relative;
}

/* navbar */
.nav-container {
    position: sticky;
    top: 0;
    z-index: 2;
    /* TODO: bg only after scroll */
    background-color: rgba(255, 255, 255, 0.459);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(15px);
}
.logo a {
    text-decoration: none;
    color: #000;
}
.nav{
    /* width: 100%; */
    max-width: var(--max-width) ;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    /* background-color: aqua; */
}

.nav .menu {
    display: flex;
    flex-direction: row;   
}

.nav .menu a.menu-item{
    padding: 15px 10px ;
    color: #4a4a4a;
    font-weight: 500;
}

/* footer {
    background: url(/assets/img/footer-wave.svg);
    background-size: cover;
    min-height: 50vh;
}
footer h3 {
    font-size: 4em;

} */

footer {
    text-align: center;
    padding: 30px 10px;
}
footer .copy-text {
    font-size: 1.1em;
    font-weight: 500;
}

.magical-hehe{
    font-size: 5em;
    background-color: hsla(214, 93%, 42%, 1);
    background-image:
        radial-gradient(at 23% 92%, hsla(175, 92%, 70%, 1) 0px, transparent 50%),
        radial-gradient(at 84% 65%, hsla(221, 65%, 63%, 1) 0px, transparent 50%),
        radial-gradient(at 81% 4%, hsla(160, 81%, 70%, 1) 0px, transparent 50%),
        radial-gradient(at 96% 86%, hsla(116, 67%, 74%, 1) 0px, transparent 50%),
        radial-gradient(at 57% 69%, hsla(221, 69%, 60%, 1) 0px, transparent 50%),
        radial-gradient(at 0% 12%, hsla(229, 94%, 69%, 1) 0px, transparent 50%),
        radial-gradient(at 79% 69%, hsla(163, 93%, 76%, 1) 0px, transparent 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 600px) {
    .nav{
        justify-content: center;
        align-items: center;
    }
    .logo h1 {
        font-size: 1.3em;
        text-align: center;
    }
    .nav .menu {
        display: none;
        flex-direction: row;   
    }
}