.hero {
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero h2, .magical-hehe{
    font-size: 5em;
    background-color: hsla(214, 93%, 42%, 1);
    background-image:
        radial-gradient(at 23% 92%, hsla(175, 92%, 70%, 1) 0px, transparent 50%),
        radial-gradient(at 84% 65%, hsla(221, 65%, 63%, 1) 0px, transparent 50%),
        radial-gradient(at 81% 4%, hsla(160, 81%, 70%, 1) 0px, transparent 50%),
        radial-gradient(at 96% 86%, hsla(116, 67%, 74%, 1) 0px, transparent 50%),
        radial-gradient(at 57% 69%, hsla(221, 69%, 60%, 1) 0px, transparent 50%),
        radial-gradient(at 0% 12%, hsla(229, 94%, 69%, 1) 0px, transparent 50%),
        radial-gradient(at 79% 69%, hsla(163, 93%, 76%, 1) 0px, transparent 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.magical-hehe {
    font-weight: 800;
    margin: 20px;
}
.yt-videos-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    /* justify-content: space-evenly; */
    overflow: auto;
    white-space: nowrap;
}
.yt-video {
    margin: 10px;
}
.yt-video iframe {
    border-radius: 10px;
}
.articles-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.articles-container h3 {
    font-size: 2em;
 }

.article-single  {
    /* max-width: 40%; */
    color: #000;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
    /* margin: 10px; */
}
/* .artic-img {
    width: 90%;
    margin: 5px;
    border-radius: 8px;
} */