.hero {
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.stats {
    display: flex;
    flex-direction: row;
    margin: 10vh 0;
    /* align-items: center; */
    justify-content: space-evenly;
}

.stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    font-weight: 500;
    max-width: 30%;
    text-align: center;
}

.stat p {
    font-size: 1.3em;
}

.stat .stat_num {
    font-size: 5em;
    font-weight: 800;
}
